h1 {
  font-size: 36px;
  color: #33485e;
}

p {
  font-weight:lighter;
  font-size: initial;
}

body {
  max-width: 800px;
  font-family: 'Raleway', sans-serif;
  margin: 20px auto;
  text-align: center;
  float: left;
}


.main-content{
  width: 80%;
  text-align: left;
}

img{
  width: 33%;
  height: 150px
  float: right;
}

div.center-top-content {
  text-align:center;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 2px;
  max-width: 400px;
}

.personal-title {
  color: grey;
  font-style: italic;
  font-weight: bold;
}

ul{
  list-style-type: desc;
  text-align: left;
  list-style-position: outisde;
}

ul.list-inline.list-pipe {
  list-style-type: none;
  text-align: center;
  display:inline;
}

.horizontal {
  list-style-type: none;
  text-align: center;
  display:inline;
}

.list-pipe > li:not(:last-child)::after {
  content: "|";
  margin: 0 .25em;
}

h2,h3,h4,h5{
  font-family: 'Nanum Gothic', sans-serif;
}

.highlight {
  background-color: #33485e;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-weight: bold;
}

h2 {
  background-color: #334853;
  color: white;
  padding: 5px;
}

h4,h5 {
  font-weight:lighter;
}

h5 {
  font-style: italic;
}

h3.container-experience {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

h4.container-experience {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

h5.container-experience {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

p.container-experience {
  font-size: 14px;
  border-bottom: 2px solid grey;
}

.left1 {
 text-align:left;
}

strong {
  font-style: italic;
  font-weight: normal;
}
