h1 {
  font-size: 36px;
  color: #33485e;
}

p {
  font-weight:lighter;
  font-size: initial;
}

body {
  max-width: 800px;
  font-family: 'Raleway', sans-serif;
}

div.container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

div.center-top-content {
  text-align:center;
  border-bottom: 2px solid black;
  margin-bottom: 0px;
  letter-spacing: 2px;
}

strong {
  text-align: center;
  color: grey;
  font-style: italic;
}

ul{
  list-style-type: desc; 
  text-align: center;
  list-style-position: inside;
}

.list-inline.list-pipe {
  list-style-type: none;
  float: center;
}

.list-pipe > li:not(:last-child)::after {
  content: "|";
  margin: 0 .25em;
}

h2,
  h3,
    h4,
      h5{
  font-family: 'Nanum Gothic', sans-serif;
}

.main-content{
  width: 80%;
  text-align: center;
}

img {
  float:right;
}
