h1 {
  font-size: 36px;
  color: #33485e;
}

p {
  font-weight:lighter;
  font-size: initial;
}

body {
  max-width: 800px;
  font-family: 'Raleway', sans-serif;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.center-top-content {
  text-align: center;
  border-bottom: 2px solid black;
}

ul{
  text-align: center;
  display: inline;
}
