/* font-family: "Raleway", sans-serif; */

body {
  font-family: "Raleway", sans-serif;
}

img{
  width: 450px;
  text-align: center;
}

h3 {
  color: #990000;
}

.main-content {
  width: 80%;
  margin: 0 auto;
}

.center-top-content {
  text-align:center;
  margin-bottom: 20px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 2px;
  max-width: 500px;
}

.restaurant-title {
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
  color: #729da6;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.location {
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
}

hr{
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
  width: 400px;
  margin-left: 0px;

}
.about {
  color: #729da6;
  font-size: 12px;
}

.main-content {
  margin: 0 auto;
}

.highlight {
  background-color: #dae6f3;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  text-indent: 2em;
}

.add-ons {
  font-weight:lighter;
  font-style: italic;
  color: #C0C0C0	;
}

.restaurant-info {
  color: #729da6;
  font-weight: lighter;
}

.booking {
  font-weight: bold;
}

.restaurant-info img {
  width: 40%;
  float: right;
  margin-top: 16px;
  margin-left: 20px;
  margin-bottom: 30px;
}

h6{
  color: #990000;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

span.price{
  font-style: italic;
}

.side-dishes{
  font-weight: lighter;
  margin-top: auto;
  margin-bottom: auto;
}
